.images{
    width: 280px;
    height: 280px;
    margin-bottom: 5px;
    /* margin-left: 40px; */
    background-color: antiquewhite;
}
.image-wrapper {
    position: relative;
    display: inline-block;

  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-wrapper:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }