.container{
    width: 83%;
    margin-left: 10%;
    margin-top: 10%;
}
ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: large;
    font-weight: bold;
    /* margin-left: 40px; */
}
ul li a{
    text-decoration: none;
    color: black;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}
hr{
    width: 30px;
    height: 10px;
    color: rgb(223, 169, 116);
}
/* .suites{
  margin-left: 0.5px;
} */
.content {
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 340px;
    height: 100px;
    position: relative;
    margin-top: -100px;
    font-size: 22px;
    padding: 20px;
    text-align: center;
  }
  
figure {
	width: 340px;
	height: 460px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
/* Zoom In #1 */
.hovers figure .image {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hovers figure:hover .image {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.images{
    width: 280px;
    height: 280px;
    margin-bottom: 5px;
    /* margin-left: 40px; */
    background-color: antiquewhite;
}
.image-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    /* margin-left: 40px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-wrapper:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
.gallery{
    width: 96%;
    max-height: auto;
}

