.container{
    margin-top: 10%;
}
.swich{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: bold;
    /* margin-left: 40px; */
}
.swich .swich-link a{
    text-decoration: none;
    color: black;
}
.icons{
  font-size: 20px;
}
.type-room{
  font-size: 30px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
/* .suites{
  margin-left: 0.5px;
} */
.content {
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 340px;
    height: 100px;
    position: relative;
    margin-top: -100px;
    font-size: 22px;
    padding: 20px;
    text-align: center;
  }
  .swich .swich-link .swich-text{
  color: chocolate;
}
.images{
    width: 280px;
    height: 280px;
    margin-bottom: 5px;
    /* margin-left: 40px; */
    background-color: antiquewhite;
}
.image-wrapper {
    position: relative;
    display: inline-block;

  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-wrapper:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
/* .gallery{
    width: 96%;
    max-height: auto;
} */
.cafita {
  width: 280px;
  height: 400px;
  border-radius: 15px;
  transition: transform 0.3s ease-out;
}

.cafita img {
  border-radius: 15px;
  object-fit: cover;
}

.cafita p, h2 {
  font-size: 15px;
}

.cafita:hover {
  transform: scale(1.09);
}

.nav-link.active {
  background-color: red;
}


.nav-link.clicked {
  background-color: red;
  color: white;
}
