.color-start{
    color:#ffba5a; 
}
.style-input-home{
    padding:0 !important;
    margin-top: -80px;
}

.style-button-home{
    background-color: #ffba5a !important;
    border-color: #ffba5a !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    display: block !important;
    width: 100%;
    border-radius: 50px !important;
    height: 43px;
    margin-bottom: 5px;
}
.button-ss2{
    border-radius: 30px !important;
    padding: 0 23px !important;
    background-color: #FFCA80 !important; 
    border-color: transparent !important;
}
.a-ss2{
    color: #FFCA80;
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
}
.content_people{
    margin: 20px 0;
}
.cafita {
    margin: 0 auto;
}
.room-top-ss3{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    padding-left:0 !important ;
    padding-right:0 !important ;
}

  .bg-white-ss3 {
    width: 95% !important;
    position: relative !important;
    overflow: hidden !important;
    max-height: 375px;
  }

  .img-fluid-ss3 {
    max-width: none !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  .top-ss3{
    width: 80% !important;
    text-align: center;
  }
.p-top-ss3{
    width: 100%;
    display: block !important;
}

.ss-4{
    margin: 80px 0;
}
.h4-ss3{
    text-align: center;
}
.p-ss3{
    width: 100%;
    text-align: center;
}
.check-availabilty{
    position: relative;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flnpmex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    margin: 0;
}
.block-32{
    opacity: 1;
    transform: none;
    transition-property: opacity,transform;
    transition-timing-function: ease;
    transition-duration: 1s;
    background: #fff;
    border-radius: 10px !important;
    text-align: center !important;
    padding: 30px 12px;
}
.react-datepicker-wrapper{
    width: 100%;
}
@media (min-width: 768px) and (max-width: 990px) {
    .top-ss3{
        min-height: 393px;
    }
    .bg-white-ss3{
        min-height: 334px;
    }
}


@media (max-width: 767px) { 
    .row-ss3{
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .content-ss3{
        width: 100% !important;
    }
    .bg-white-ss3 {
        width: 85% !important;
        text-align: center;
        margin:0 auto;
    }

    .img-fluid-ss3 {
        max-width: 90% !important;
        object-fit: cover !important;
        height: 250px !important;
        max-height: 250px !important;
        max-width: 250px !important;
    }
    .pt-2{
        text-align: center !important;
        width: 100% !important;
    }
    .bottom-ss3-content-top{
        margin-top: 36px !important;
    }
    .bottom-ss3-content-bottom{
        margin-top: 73px !important;
    }
}

#checkin_date, #checkout_date{
    padding-left: 20px;
    padding-right: 20px;
}


@media (max-width: 540px) {
    .img-absolute-ss2{
        right: 126px !important;
    }
}
@media (max-width: 414px) {
    .img-absolute-ss2{
        right:2px !important;
    }
}
@media (max-width: 400px) {
    .img-absolute-ss2{
        right:20px !important;
    }
    .img-fluid-ss2{
        border-right:none !important ;
    }
}