.cafita {
    width: 280px;
    border-radius: 15px;
    transition: transform 0.3s ease-out;
}

.cafita img {
    border-radius: 15px;
    object-fit: cover;
}

.cafita p, h2 {
    font-size: 15px;
}

.cafita:hover {
    transform: scale(1.09);
}

.nav-link.active {
    background-color: red;
  }
  

  .nav-link.clicked {
    background-color: red;
    color: white;
  }

  @media (max-width: 600px)  {
    .coston{
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .img-fluid {
        max-width: 350px;
        max-height: 200px;
    }
}

.image:hover img {
    transform: scale(1.2);
    cursor: pointer;
}

img {
    transition: 0.5s;
}

.image {
    overflow: hidden;
}

.gallery1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
}

.close {
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 35px;
}

.gallery__inner {
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.control {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
}

.control.prev {
    left: 15px;
}

.control.next {
    right: 15px;
}

.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* Định dạng tab trên màn hình di động */
@media (max-width: 768px) {
    .mobile-tab-container {
      display: flex;
      justify-content: center; /* Căn giữa các tab dọc */
      margin-top: 1rem;
    }
  
    .mobile-tab {
      display: flex;
      flex-direction: row; /* Đặt lại hướng dạng ngang */
      gap: 1rem;
      color: black;
    }
  
    .mobile-tab .nav-link {
      width: 100%;
      text-align: center;
    }
  }
  .image-wrapper-roomdetail {
    position: relative;
    display: inline-block;

  }
  
  .overlay-roomdetail {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-wrapper-roomdetail:hover  .overlay-roomdetail {
    opacity: 1;
    cursor: pointer;
  }