*{
    
    font-family: "Cabin", sans-serif;
}

.taitel{
    display: flex;
    gap: 30px;
}
.taitel-room-suites{

    text-align: center;
}
.delail-room{
    margin-left: 10%;
}

.xxxx{
    display: grid;
    grid-template-columns: 1fr 1fr;
}