.cafita {
    width: 280px;
    border-radius: 15px;
    transition: transform 0.3s ease-out;
}

.cafita img {
    border-radius: 15px;
    object-fit: cover;
}

.cafita p, h2 {
    font-size: 15px;
}

.cafita:hover {
    transform: scale(1.09);
}

.nav-link.active {
    background-color: red;
  }
  

  .nav-link.clicked {
    background-color: red;
    color: white;
  }

  @media (max-width: 600px)  {
    .coston{
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .img-fluid {
        max-width: 350px;
        max-height: 200px;
    }
}