.content_container{
    background-color: #F8F9FA;
    margin-bottom: 5%;
}
.content_container-title{
    color: #FFCA80;
    font-size: 25px;
}
.content_container-button-icon{
    color: #FFCA80;
    font-size: 25px;
}
.content_container-button{
    border-radius: 15px ;
    border: 2px solid ;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}
.content_people-img{
    width: 45%; 
}
.content_people-say{
    text-align: center;
}
.content_people-text{
    text-align: center;
}
.content_container-map{
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
}
.content_people-infor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center; 
    margin-left: 5%;
}
