.content_container{
    background-color: #F8F9FA;
}
.content_container-title{
    color: #FFCA80;
    font-size: 25px;
}
.content_container-button-icon{
    color: #FFCA80;
    font-size: 25px;
}
.content_container-button{
    border-radius: 15px ;
    border: 2px solid ;
    background-color: #FFFFFF;
    width: 100%;
}
.content_people-img{
    width: 45%; 
}
.content_people-say{
    text-align: center;
}
.content_people-text{
    text-align: center;
}

