.container-fluid{
    background-color: #F8F9FA;
}
span{
    color: #FFCA80;
    font-size: 25px;
}
.icon-icon{
    color: #FFCA80;
    font-size: 25px;
}
.button-button{
    border-radius: 15px ;
    border: 2px solid ;
    background-color: #FFFFFF;
    width: 100%;
}
.img-circle{
    width: 45%; 
}
.text-content{
    text-align: center;
}

