.text-input{
    margin-left: 5px;
}
.form-check{
    margin-top: 10px;
}
.check-input{
    width: 17px;
    height: 17px;
}
.input-radio{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 10px;
    width: 60.3rem;
    margin-top: 3.5rem;
    /* padding-left: 50px; */
    /* text-align: center; */
}
.input-radio .number-room{
    position: relative;
    top: 0.5rem;
    padding-left: 2rem;
}
/* .radio{
    margin-top: 3.0rem;
} */
.map{
    width: 91% !important;
    height: 70% !important;
}
@media (max-width: 667px) {
    .input-radio{
        display: grid;
        grid-template-columns: auto auto auto;
        border: 1px solid #D2D2D2;
        border-radius: 10px;
        /* padding: 10px; */
        font-size: 13px;
        width: 20.5rem;
        margin-left: -0.3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .map{
        margin-left: -0.5rem;
        width: 100% !important;
        height: 100% !important;
    }
    /* .book-room{
        margin-top: 4rem;
    } */
  }
/* .card{
    width: 275px;
    margin-left: -0.8rem;
} */
.radio-fillter{
    margin-left: 16px;
}
@media (min-width: 768px) and (max-width: 1024px){
    .input-radio{
        margin-left: -0.3rem;
        width: 42rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .map{
        margin-left: -0.3rem;
        width: 100% !important;
        height: 97% !important;
    }
    /* .book-room{
        margin-bottom: -5rem;
    } */
}
/* .book-room{
    margin-top: -3rem;
} */