.form-check{
    margin-top: 10px;
}
.radio-input{
    width: 17px;
    height: 17px;
}
.radio-filter{
    margin-left: 0.3rem;
}
.text-btn-filter{
    margin-top: 1.5rem;
    background-color: #FFAA34;
    border-radius: 10px ;
    border: none;
    width: 110px;
    height: 33px;
    font-size: 18px;
}
.text-button{
    position: relative;
    bottom: 0.2rem;
}
.input-radio{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 10px;
    margin-top: 3.5rem !important;
}
.input-radio .number-room{
    position: relative;
    top: 0.5rem;
}
.input-radio{
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding-left: 3rem;
}
.radio{
    margin-top: 1.3rem;
}
.map{
    width: 92% !important;
    height: 80% !important;
    margin-left: 0.5rem;
}
@media (max-width: 667px) {
    .input-radio{
        display: grid;
        grid-template-columns: auto auto auto;
        border: 1px solid #D2D2D2;
        border-radius: 10px;
        font-size: 13px;
        margin-left: -0.3rem;
     
        margin-top: 0.4rem;
        margin-bottom: 1rem;
    }
    .radio{
        margin-top: 0rem;
    }
    .map{
        width: 100% !important;
        height: 100% !important;
    }
  }

@media (min-width: 667px) and (max-width: 1024px){
    .input-radio{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 0.4rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .map{
        width: 100% !important;
        height: 97% !important;
    }
    .filters{
        display: grid;
        grid-template-columns: auto auto;
    }
}
.faArrowsRotate{
    width: 1.2rem;
    height: 1.2rem;
    text-decoration: none;
    color: #54504a;
}
