.imgroom{
    /* width: 160px;
    height: 130px; */
    object-fit: cover;
    border-radius: 10px;
}
.inforoom{
    color: #1a1917;
    margin-top: 18px;
}
.pice{
    color: #FFAA34;
    font-size: 25px;
    margin-left: 5px;
}
.text-btn-bookingroom{
    background-color: #FFAA34;
    border-radius: 10px ;
    border: none;
    width: 110px;
    /* height: 35px; */
    text-align: center;
    /* margin-left: 1rem; */
    font-size: 18px;
}
.text-btn-bookingroom{
    margin-left: 5%;
}
.btn:hover{
    background-color: #eb9b2d;
    
}
.pice-room{
    color: #ccc9c5;
    margin-left: 10%;
    /* margin-top: 5px; */
}
.line{
    border-left: 1px dashed #ccc9c5;
}
.select-room{
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    /* padding: 10px; */
   

}
@media (max-width: 667px) {
    .room{
        display: flex;
        justify-content: center;
    }
  }
.booking-room{
 padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
  
}
/* .contis{
    position: relative;
    display: inline-block;
    padding: 15px 18px;
    margin: 40px 1.4rem;
    color: #353b48;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border-radius: 10px;
   
}
.contis.btn{
    background: #353b48;
    color: #050801;
    box-shadow: 0 0 5px #353b48,
                0 0 25px #353b48,
                0 0 50px #353b48,
                0 0 200px #353b48;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.contis:nth-child(1){
    filter: hue-rotate(270deg);
}
.contis:nth-child(2){
    filter: hue-rotate(110deg);
}
.contis span{
    position: absolute;
    display: block;
}
.contis span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#e84118);
    animation: animate1 1s linear infinite;
} */
.bed-room-booking{
   margin-left: 10px;
   margin-top: -4px;
}
.icon-bed{
    display: flex;
    
    
}
.icon-person{
    display: flex;
    
}
.person-room-booking{
    margin-left: 20px;
    margin-top: -4px;
}