.roomdetail{
  margin-top: 80px;
}
.container-roomdetail{
    margin-top: 10%;
}
.swich-roomdetail{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: bold;
}

.swich-roomdetail .swich-link a{
    text-decoration: none;
    color: black;
}
.icons-roomdetail{
  font-size: 20px;
}
.type-roomdetail{
  font-size: 28px;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
.title-roomdetail{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.images-roomdetail{
    width: 280px;
    height: 280px;
    margin-bottom: 5px;
    /* margin-left: 40px; */
    background-color: antiquewhite;
}
.image-wrapper-roomdetail {
    position: relative;
    display: inline-block;

  }
  
  .overlay-roomdetail {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-wrapper-roomdetail:hover  .overlay-roomdetail {
    opacity: 1;
    cursor: pointer;
  }

.cafita {
  width: 280px;
  height: 400px;
  border-radius: 15px;
  transition: transform 0.3s ease-out;
}

.cafita img {
  border-radius: 15px;
  object-fit: cover;
}

.cafita p, h2 {
  font-size: 15px;
}

.cafita:hover {
  transform: scale(1.09);
}

.nav-link.active {
  background-color: red;
}


.nav-link.clicked {
  background-color: red;
  color: white;
}

.a-roomdetail{
  text-decoration: none;
  color: black;
}
.type-roomdetail1{
  margin-bottom: 20px;
}
.text-gallery{
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
.amenities{
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon{
  display: flex;
}