/* .roomdetail{
  margin-top: 80px;
} */
.container-roomdetail{
    /* position: absolute; */
    margin-top: 8%;
    /* margin-left: 15%;
    padding-right: 15%; */

    

    /*   */
   
}
/* .swich-roomdetail{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: bold;
} */

.swich-roomdetail .swich-link a{
    text-decoration: none;
    color: black;
}
.icon{
  display: flex;
  gap: 17px;
}
.icons-roomdetail{
  font-size: 20px;
}
.type-roomdetail{
  font-size: 28px;
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
.title-roomdetail{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

.images-roomdetail{
    width: 250px;
    height: 250px;
    /* margin-top: -20px; */
    /* margin-left: 40px; */
    background-color: antiquewhite;
}
.image-wrapper-roomdetail {
    position: relative;
    display: inline-block;
    /* margin-top: -20px; */


  }
  
  .overlay-roomdetail {
    position: absolute;
    width: 250px;
    /* margin-top: -90px; */
    top: 0;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-wrapper-roomdetail:hover  .overlay-roomdetail {
    opacity: 1;
    cursor: pointer;
  }

.room-image {
  /* width: 250px; */
  height: 400px;
  justify-content: center;
  border-radius: 15px;
  transition: transform 0.3s ease-out;
}

.room-image img {
  border-radius: 15px;
  object-fit: cover;
}

.room-image p, h2 {
  font-size: 15px;
  
}

.room-image:hover {
  transform: scale(1.09);
}

.nav-link.active {
  background-color: red;
}


.nav-link.clicked {
  background-color: red;
  color: white;
}

.a-roomdetail{
  text-decoration: none;
  color: black;
}
.type-roomdetail1{
  margin-bottom: 20px;
}
.text-gallery{
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
.amenities{
  font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}
/* CSS reset */
.row-test{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0%;
  align-items: center;
  /* margin-left: 7%; */
  /* padding-right: 9%; */
  /* right: 20%; */
  padding-left:7%;

  
}
/* .testbed5%{
  display: flex;
  gap: 9px;
  
} */
.titelroom{
  display: flex;
  margin-left: 8%;
 
}



.amenities{
  
 
  
  padding-right:6.5%; 
  padding-left: 2%;
  /* margin-left:2%;
  
  /* margin-right: 5%; */
}
.roomdetail{
  padding-left:3% ;
  margin-left: 4%;
  padding-right: 10%;
}
/* .zoom-in-down{
  align-items: center;
  text-align: center;
} */
.container-roomdetail{
  
}
